@import "tailwindcss";

/* Auth styles */
.enter-forms {
    @apply flex min-h-screen items-center justify-center bg-gray-200;
}

/* Demo styles */
.header-1 {
    @apply text-3xl text-black font-bold text-center pt-10 capitalize;
}
.main-box{
    @apply bg-zinc-200 h-screen pt-10 flex flex-col;
}
.image-input{
    @apply flex flex-wrap gap-1 p-5 bg-white w-[650px] min-h-[300px] mx-auto mt-6 mb-10 rounded-md shadow-sm justify-center items-center;
}
.preview-image {
    @apply rounded-md shadow-md border border-gray-200;
}
.btn-primary {
    @apply px-4 py-2 mx-1 text-white rounded-sm self-center font-semibold;
}